<h1 *ngIf="!exists">No user exists</h1>
<div *ngIf="exists" class="container mt-5">
  <div *ngIf="user.type=='org'" class="row">
    <div class="col-md-12">
      <h1 class="text-center">Radionice</h1>
        <table class="table">
          <thead>
              <tr>
                  <th>Ime</th>
                  <th>Ćaskanja</th>
                  <th>Detalji</th>
                  <th>Uredi</th>
                  <th>Prijave</th>
                  <th>Otkazi</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let myWorkshop of myWorkshops">
                  <td>{{ myWorkshop.name }}</td>
                  <td><a [routerLink]="['/workshop/', myWorkshop._id, 'chat']"><button class="btn btn-dark">Ćaskanja</button></a></td>
                  <td><a [routerLink]="['/workshop/', myWorkshop._id]"><button class="btn btn-dark">Detalji</button></a></td>
                  <td><a [routerLink]="['/workshop/', myWorkshop._id, 'edit']"><button class="btn btn-dark">Uredi</button></a></td>
                  <td><a [routerLink]="['/workshop/', myWorkshop._id, 'applied']"><button class="btn btn-dark">Pijave</button></a></td>
                  <td><button class="btn btn-dark" (click)="cancelWorkshop(myWorkshop._id)">Otkazi</button></td>
              </tr>
          </tbody>
      </table>
      <div class="d-flex col-8 offset-4">
        <a [routerLink]="['/createWorkshop']"><button class="btn btn-dark">Kreiraj radionicu</button></a>
        <button  class="ms-2 btn btn-dark" (click)="createWorkshopJSON()">Kreiraj radionicu (JSON).</button>
        
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-center">Prisustvo</h1>
    <app-workshop-table [workshops]="attendedWorkshops"></app-workshop-table>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <img src="{{helper.getProfilePhotoUrl(user.profilePicture)}}" alt="Profile Picture"
        class="rounded-circle mx-auto d-block" width="200" height="200" />
    </div>
    <div class="col-md-8">
      <h2>{{user.firstname}} {{user.lastname}}
        <a *ngIf="auth.getUser().username==user.username"
          [routerLink]="['/user/',auth.getUser().username, 'edit' ]"><button
            class="btn btn-dark me-3">Izmeni</button></a>
        <a *ngIf="auth.getUser().username==user.username"
          [routerLink]="['/user/',auth.getUser().username, 'cpw' ]"><button class="btn btn-dark">Promeni
            Lozinku</button></a>
      </h2>
      <h5 class="text-muted">{{user.username}}</h5>
      <h6 class="text-muted">{{helper.getTypeString(user.type)}}</h6>
      <p class="text-muted">{{user.email}}</p>
      <p class="text-muted">{{user.phone}}</p>
      <hr />
      <div *ngIf="user.type=='org'">
        <h5 class="text-muted">Organizacija</h5>
        <p class="text-muted">{{user.org.name}}</p>
        <p class="text-muted">{{user.org.street}} {{user.org.streetNumber}}, {{user.org.postNumber}}, {{user.org.city}},
          {{user.org.country}}</p>
        <p class="text-muted">Matični broj: {{user.org.regNumber}}</p>
        <hr />
      </div>
      <h5 class="text-muted">Verifikacija</h5>
      <p class="text-muted">{{helper.getVerifyString(user.verified)}}</p>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-light">Sviđanja radionica:</li>
          <li *ngIf="myLikes.length==0" class="list-group-item d-flex align-items-center justify-content-between">Nema lajkovanih radionica.</li>
          <li *ngFor="let like of myLikes" class="list-group-item d-flex align-items-center justify-content-between">
            <a class="text-decoration-none text-secondary" [routerLink]="['/workshop/',like.workshop ]">{{getWorkshopFromId(like.workshop).name}}</a>
            <fa-icon class="fas" [icon]="faHeartBroken" size="2x" (click)="unlike(like.workshop)"></fa-icon>
          </li>
        </ul>
      </div>
      <div class="col-md-8 mx-auto">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-light">Komentari radionica:</li>
          <li *ngIf="myComments.length==0" class="list-group-item d-flex align-items-center justify-content-between">Niste komentarisali nijednu radionica.</li>
          <li *ngFor="let comment of myComments" class="list-group-item d-flex align-items-center justify-content-between">
            <a class="text-decoration-none text-secondary" [routerLink]="['/workshop/',comment.workshop ]">{{getWorkshopFromId(comment.workshop).name}}</a>
            <span [hidden]="editingComments.includes(comment._id)" id="{{comment._id}}">{{comment.text}}</span>

            <textarea [hidden]="!editingComments.includes(comment._id)" #commentTextarea id="text{{comment._id}}" class="form-control ms-3 me-2" rows="3">{{comment.text}}</textarea>
            <button [hidden]="!editingComments.includes(comment._id)" class="btn btn-dark ms-2 me-3" (click)="updateComment(comment._id, commentTextarea.value)">Izmeni</button>
            <div>
              <fa-icon class="fas me-3" [icon]="faClose" size="2x" (click)="deleteComment(comment._id)"></fa-icon>
              <fa-icon class="fas pencil" [icon]="faPencil" size="2x" (click)="toggleEditingComment(comment._id)"></fa-icon>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>