<form class="d-flex justify-content-center">
    <div class="d-flex align-items-center">
      <div class="form-group me-2">
        <label for="name">Naziv:</label>
        <input type="text" class="form-control" [(ngModel)]="searchName" [ngModelOptions]="{standalone: true}" id="searchName">
      </div>
      <div class="form-group me-2">
        <label for="location">Lokacija:</label>
        <input type="text" class="form-control" id="searchLocation" [(ngModel)]="searchLocation" [ngModelOptions]="{standalone: true}" id="searchLocation">
      </div>
      <div class="form-group me-2">
        <label for="sort">Sortiraj:</label>
        <select class="form-control" id="sort">
          <option>Ime</option>
          <option>Datum</option>
        </select>
      </div>
      <button type="submit" class="btn btn-dark" (click)="search()">Search</button>
    </div>
  </form>
  
  
<div class="row row-cols-md-2 row-cols-1 justify-content-center">
<div *ngFor="let workshop of workshops" class="card h-100" style="width: 18rem;">
    <img class="card-img-top" src="{{photoHepler.getWorkshopPhotoUrl(workshop.mainPicture)}}">
    <div class="card-body">
      <h5 class="card-title">{{workshop.name}}</h5>
      <p class="card-text">{{workshop.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{workshop.date | date:'HH:MM dd.MM.YYYY.'}}</li>
        <li class="list-group-item">{{workshop.location}}</li>
    </ul>
    <div class="card-body">
        <a class="btn btn-dark" (click)="details(workshop)">Detalji</a>
    </div>
</div>
</div>