.inputError{
    color:red;
}

  
.close-button {
    
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -100%);
  }
  
  img {
    max-width: 100px;
    height: auto;
  }
  
  .image-container {
    width: min-content;
    position: relative;
  }