<!--Change passowrd form-->

<h3 class="d-flex justify-content-center">Unesite staru lozinku, novu lozinku i potvrdu nove lozinke.</h3>
<form [formGroup]="changePasswordForm">
    <div class="row d-flex justify-content-center mb-2">
        <div class="col-sm-3">
            <input type="password" class="form-control" name="oldPassword" formControlName="oldPassword" placeholder="Stara Lozinka">
            <div *ngIf="changePasswordForm.controls.oldPassword.invalid && (changePasswordForm.controls.oldPassword.dirty || changePasswordForm.controls.oldPassword.touched)" class="inputError">
                <div *ngIf="changePasswordForm.controls.oldPassword.errors?.['required']">Lozinka nije uneta.</div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mb-2">
        <div class="col-sm-3">
            <input type="password" class="form-control" name="password" formControlName="password" placeholder="Lozinka">
            <div *ngIf="changePasswordForm.controls.password.invalid && (changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched)" class="inputError">
                <div *ngIf="changePasswordForm.controls.password.errors?.['required']">Lozinka nije uneta.</div>
                <div *ngIf="changePasswordForm.controls.password.errors?.['minlength']">Lozinka mora imati najmanje 8 karaktera.</div>
                <div *ngIf="changePasswordForm.controls.password.errors?.['maxlength']">Lozinka mora imati najviše 16 karaktera.</div>
                <div *ngIf="changePasswordForm.controls.password.errors?.['pattern']">Lozinka mora imati bar jedno veliko slovo, jedan broj i jedan specijalni karakter, i mora počinjati slovom.</div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mb-2">
        <div class="col-sm-3">
            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" placeholder="Potvrda lozinke">
            <div *ngIf="(changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched)" class="inputError">
                <div *ngIf="changePasswordForm.controls.confirmPassword.invalid && changePasswordForm.controls.confirmPassword.errors['required']">Potvrda lozinke je obavezna</div>
                <div *ngIf="this.changePasswordForm.errors && changePasswordForm.errors['passwordNotMatch']">Lozinke se ne poklapaju</div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
            <button class="btn btn-dark w-100" [disabled]="changePasswordForm.invalid" (click)="changePassword()">Promeni lozinku</button>      
        </div>
    </div>
</form>