<!-- Container -->
<div class="container">
    <!-- Workshop Information -->
    <div class="row">
        <!-- Workshop Image -->
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                  <li *ngFor="let image of images; let i = index" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
                </ol>
                <div class="carousel-inner">
                  <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="image" class="d-block w-100" alt="Gallery Image">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
        </div>
        <!-- Workshop Map -->
        <div class="col-md-6">
            <google-map class="map" height="400" width="700">
                <map-marker latitude="51.678418" longitude="7.809007" label="Test marker" title="Test title">
                </map-marker>
            </google-map>
        </div> 
    </div>
    
    <!-- Workshop Details -->
    <div class="row">
        <div class="col-md-12">
            <h2>{{workshop.name}}</h2>
            <p>
                <strong>Mesto održavanja:</strong> {{location}}<br />
                <strong>Datum i vreme:</strong> {{workshop.date}}<br />
                <strong>Slobodna mesta:</strong> {{workshop.availableSeats}}<br />
                <strong>Opis:</strong> {{workshop.description}}
            </p>
        </div>
        
    </div>
    <!-- Workshop Description -->
    <div class="row">
        <div class="col-md-12">
            <h3>Opis</h3>
            <p>{{workshop.descriptionLong}}</p>
        </div>
    </div>
</div>