<form *ngIf="!auth.isLoggedIn()" class="d-flex">
    <div class="row">
        <div class="col-sm-4">
            <input class="form-control" type='text' name='username' [(ngModel)]='username' placeholder="Korisničko ime">
        </div>
        <div class="col-sm-4">
            <input class="form-control" type='password' name='password' [(ngModel)]='password' placeholder="Lozinka">
            <a [routerLink]="['/resetPassword']">Zaboravili ste lozinku?</a>
        </div>
        <div class="col-sm-3">
            <input class="btn btn-dark" type='submit' value='Ulogujte se' (click)='LogIn()'>
        </div>
    </div>
    <span class='greska'>{{msg}}</span>
</form>
<form *ngIf="auth.isLoggedIn()" class="d-flex">
    <div class="row align-items-center">
        <div class="col-sm-7 border px-0 bg-light border rounded">
            <a [routerLink]="['/user/',auth.getUser().username ]" class="d-flex align-items-center">
                <img src={{photoHelper.getProfilePhotoUrl(auth.getUser().profilePicture)}} alt="user" width="50" height="50">
                <span class="text-dark"> {{auth.getUser().firstname}} {{auth.getUser().lastname}}</span>
            </a>
        </div>
        <div class="col-sm-5">  
            <button class="btn btn-dark" (click)='LogOut()'>Odjavite se</button>
        </div>
    </div>
</form>
