<h2>Ulogujte se</h2>
<form>
    <div class="row">
        <td>
            <input class="form-control" type='text' name='username' [(ngModel)]='username' placeholder="Korisničko ime">
        </td>
    </div>
    <div class="row">
        <td>
            <input class="form-control" type='password' name='password' [(ngModel)]='password' placeholder="Lozinka">
        </td>
    </div>
    <input class="btn btn-dark" type='button' value='Ulogujte se' (click)='LogIn()'>
</form>
<span class='greska'>{{msg}}</span>

