<h3>Opis radionice:</h3>
<form>
    <div class="form-group">
        <label for="name">Ime</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="workshop.name" name="name" required>
    </div>

    <div class="form-group">
        <label for="description">Kraći opis</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="workshop.description" name="description"
            required>
    </div>

    <div class="form-group">
        <label for="descriptionLong">Duži opis</label>
        <textarea class="form-control" id="description" [(ngModel)]="workshop.descriptionLong" name="descriptionLong"
            required></textarea>
    </div>

    <div class="form-group">
        <label for="date">Vreme održavanja</label>
        
        <input type="datetime-local" [min]="minDateTime" class="form-control" id="date" [(ngModel)]="workshop.date" name="date" required>
        
          
    </div>

    <div class="form-group">
        <label for="mainPicture">Glavnia slika</label>
        <input type="text" class="form-control" id="mainPicture" [(ngModel)]="workshop.mainPicture" name="mainPicture"
            required>
    </div>

    <div class="form-group">
        <label for="gallery">Galerija</label>
        <input type="text" class="form-control" id="gallery" [(ngModel)]="workshop.gallery" name="gallery" required>
    </div>

    <div class="form-group">
        <label for="totalSeats">Broj mesta:</label>
        <input type="number" class="form-control" id="totalSeats" [(ngModel)]="workshop.totalSeats" name="totalSeats"
            required>
    </div>

    <div class="form-group">
        <label for="descriptionLong">Duži opis</label>
        <textarea class="form-control" id="descriptionLong" [(ngModel)]="workshop.descriptionLong"
            name="descriptionLong" required></textarea>
    </div>


    <!--Search on google maps-->
    <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />

    <button type="submit" class="btn btn-dark">Submit</button>
</form>