<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Slika</th>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Korisničko ime</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
        <th scope="col">Tip</th>
        <th scope="col">Organizacija</th>
        <th scope="col">Odobri</th>
        <th scope="col">Odbij</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><img src={{photoHelper.getProfilePhotoUrl(user.profilePicture)}} alt="user" width="50" height="50"></td><!--Slika-->
        <td>{{user.firstname}}</td><!--Ime-->
        <td>{{user.lastname}}</td><!--Prezime-->
        <td>{{user.username}}</td><!--Korisničko ime-->
        <td>{{user.phone}}</td><!--Telefon-->
        <td>{{user.email}}</td><!--Email-->
        <td>{{getTypeString(user.type)}}</td><!--Tip-->
        <td>{{user.type=='org'?getOrgString(user.org):'-'}}</td><!--Organizacija-->
        <td><button (click)="approveUser(user.username)">Odobri</button></td>
        <td><button (click)="rejectUser(user.username)">Odbij</button></td>
      </tr>
    </tbody>
  </table>