.greska{
    color: red;
}
form{
    align-items: center;
}
.row{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3{
    padding-top: 1rem;
    text-align: center;
}