<form [formGroup]="resetPasswordRequestForm" (ngSubmit)="resetPasswordRequest()">
    <div class="row">
        <div class="col-sm-12">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email">
            <div *ngIf="resetPasswordRequestForm.controls.email.invalid && (resetPasswordRequestForm.controls.email.dirty || resetPasswordRequestForm.controls.email.touched)" class="inputError">
                <div *ngIf="resetPasswordRequestForm.controls.email.errors?.['required']">Email nije unet.</div>
                <div *ngIf="resetPasswordRequestForm.controls.email.errors?.['email']">Email nije u dobrom formatu</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-dark w-100">Promeni lozinku</button>
        </div>
    </div>
</form>