<div *ngIf="showModal" [@fadeInOut] class="customModal">
    <div #modal class="modal-dialog modal-dialog-centered" tabindex="-1" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body my-modal-body">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Zatvori</button>
        </div>
      </div>
    </div>
  </div>
  