<h4 class="text-center">{{workshop.name}}</h4>

<div class="comment-box col-md-6">
    <div>
      <div class="list-unstyled">
        <app-msg *ngFor="let msg of msgs" [profilePicture]="getUser(msg.from)['profilePicture']" [name]="(msg.from==me._id)?'Ja':getUser(msg.from).firstname" [date]="msg['date']" [text]="msg['text']" [right]="msg.from!=me._id"></app-msg>
      </div>
      <form>
        <div class="d-flex justify-content-between align-items-center input-top">
          <label class="ms-2">Poruka:</label>
          <input type="text" #commentinput class="comment-input col flex-grow-1 ms-3 me-3" [(ngModel)]="msgText" [ngModelOptions]="{standalone: true}">
          <button type="submit" class="btn btn-comment-send me-2" (click)="sendMsg()">Pošalji</button>
        </div>
        
      </form>
    </div>
  </div>