<h1 *ngIf="!exists">No user exists</h1>
<div *ngIf="exists" class="container mt-5">
    <form [formGroup]="editForm" (ngSubmit)="edit()">
    <div class="row">
        <div class="col-md-4 text-center">
            <img *ngIf="editForm.value.profilePicture==''" src="{{helper.getProfilePhotoUrl(user.profilePicture)}}" alt="Profile Picture"
                class="rounded-circle mx-auto d-block" width="200" height="200" />
            <canvas *ngIf="editForm.value.profilePicture!=''" #viewcanvas class="view-canvas rounded-circle mx-auto d-block" width="200" height="200"></canvas>
            <canvas #canvas></canvas>
            <input type="file" class="form-control" formControlName="profilePicture" name="profilePicture" accept="image/jpeg, image/png" (change)="onFileSelected($event)">
            <div *ngIf="(editForm.controls.profilePicture.dirty || editForm.controls.profilePicture.touched)" class="inputError">
                <div *ngIf="(editForm.controls.imageDimensionsX.invalid && editForm.controls.imageDimensionsX.errors['max'])
                || (editForm.controls.imageDimensionsY.invalid && editForm.controls.imageDimensionsX.errors['max'])">Slika je prevelika.</div>
                <div *ngIf="(editForm.controls.imageDimensionsX.invalid && editForm.controls.imageDimensionsX.errors['min'])
                || (editForm.controls.imageDimensionsY.invalid && editForm.controls.imageDimensionsX.errors['min'])">Slika je permala.</div>
                <div *ngIf="editForm.controls.profilePicture.errors?.['pattern']">Slika mora da bude u jpg ili png formatu.</div>
            </div>
        </div>
        <div class="col-md-8">
            <label for="firstname">Ime</label>
            <input type="text" class="form-control" formControlName="firstname" placeholder="Ime" />
            <div *ngIf="editForm.controls.firstname.invalid && (editForm.controls.firstname.dirty || editForm.controls.firstname.touched)" class="inputError">
                <div *ngIf="editForm.controls.firstname.errors?.['required']">Ime nije uneto.</div>
                <div *ngIf="editForm.controls.firstname.errors?.['pattern']">Ime mora da počne velikim slovom, a ostala slova moraju biti mala.</div>
                <div *ngIf="editForm.controls.firstname.errors?.['maxlength']">Ime ne može biti duže od 16 karaktera.</div>
                <div *ngIf="editForm.controls.firstname.errors?.['minlength']">Ime mora da ima barem dva slova.</div>
            </div>
            <label for="lastname">Prezime</label>
            <input type="text" class="form-control" formControlName="lastname" placeholder="Prezime" />
            <div *ngIf="editForm.controls.lastname.invalid && (editForm.controls.lastname.dirty || editForm.controls.lastname.touched)" class="inputError">
                <div *ngIf="editForm.controls.lastname.errors?.['required']">Prezime nije uneto.</div>
                <div *ngIf="editForm.controls.lastname.errors?.['pattern']">Prezime mora da počne velikim slovom, a ostala slova moraju biti mala.</div>
                <div *ngIf="editForm.controls.lastname.errors?.['maxlength']">Prezime ne može biti duže od 16 karaktera.</div>
                <div *ngIf="editForm.controls.lastname.errors?.['minlength']">Prezime mora da ima barem dva slova.</div>
            </div>
            <label for="username">Korisničko ime</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Korisničko ime" />
            <div *ngIf="editForm.controls.username.invalid && (editForm.controls.username.dirty || editForm.controls.username.touched)" class="inputError">
                <div *ngIf="editForm.controls.username.errors?.['required']">Korisničko ime nije uneto.</div>
                <div *ngIf="editForm.controls.username.errors?.['usernameTaken']">Korisničko ime je već zauzeto.</div>
                <div *ngIf="editForm.controls.username.errors?.['pattern']">Korisničko ime može da se sastoji samo od brojeva i malih i velikih slova.</div>
                <div *ngIf="editForm.controls.username.errors?.['minlength']">Korisničko ime mora da ima barem 2 karaktera.</div>
                <div *ngIf="editForm.controls.username.errors?.['maxlength']">Korisničko ime može da ima barem najviše 16 karaktera.</div>
            </div>
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Email" />
            <div *ngIf="editForm.controls.email.invalid && (editForm.controls.email.dirty || editForm.controls.email.touched)" class="inputError">
                <div *ngIf="editForm.controls.email.errors?.['required']">Email nije unet.</div>
                <div *ngIf="editForm.controls.email.errors?.['email']">Email nije u dobrom formatu</div>
                <div *ngIf="editForm.controls.email.errors?.['emailTaken']">Email je već zauzet.</div>
            </div>
            <label for="phone">Telefon</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="Telefon" />
            <div *ngIf="editForm.controls.phone.invalid && (editForm.controls.phone.dirty || editForm.controls.phone.touched)" class="inputError">
                <div *ngIf="editForm.controls.phone.errors?.['required']">Telefon nije unet.</div>
                <div *ngIf="editForm.controls.phone.errors?.['pattern']">Telefon nije u dobrom formatu</div>
            </div>
            <h5 class="text-muted">Tip korisnika</h5>
            <h6 class="text-muted">{{helper.getTypeString(user.type)}}</h6>
            <hr />
            <div *ngIf="user.type=='org'">
                <form [formGroup]="orgForm">
                    <h5 class="text-muted">Organizacija</h5>
                    <label for="orgName">Naziv organizacije</label>
                    <input type="text" class="form-control" formControlName="organizationName" placeholder="Naziv organizacije" />
                    <label for="orgAddress">Ulica</label>
                    <input type="text" class="form-control" formControlName="street" placeholder="Ulica" />
                    <label for="orgAddress">Broj</label>
                    <input type="text" class="form-control" formControlName="streetNumber" placeholder="Broj" />
                    <label for="orgAddress">Poštanski broj</label>
                    <input type="text" class="form-control" formControlName="postNumber" placeholder="Poštanski broj" />
                    <label for="orgAddress">Grad</label>
                    <input type="text" class="form-control" formControlName="city" placeholder="Grad" />
                    <label for="orgAddress">Država</label>
                    <input type="text" class="form-control" formControlName="country" placeholder="Država" />
                    <label for="orgRegNumber">Matični broj</label>
                    <input type="text" class="form-control" formControlName="matNumber" placeholder="Matični broj" />
                </form>
                <hr />
            </div>
            <button class="btn btn-dark" [disabled]="editForm.invalid || (orgForm.invalid && editForm.value.organizer)" (click)="edit()">Sačuvaj</button>
        </div>
    </div>
    </form>
</div>
