<div class="row" *ngIf="!right">
    <div class="col-md-1 col-1 me-0 ms-1 pe-0">
        <br>
        <img class="rounded-circle d-block" src={{helper.getProfilePhotoUrl(profilePicture)}} alt="user" width="50" height="50">
    </div>
    <div class="col-md-5 col-5 ms-0 ps-0">
        <b class="ms-4">{{name}}</b>, {{date | date:'dd.MM.yyyy. HH:mm' }}<br/>
        <div class="text-comment col-md-12 col-12 ms-4">
            {{text}}
        </div>
    </div>
</div>

<div class="row" *ngIf="right">
    
    <div class="offset-md-5 col-md-5 offset-5 col-5 ps-0">
        <b class="ms-4">{{name}}</b>, {{date | date:'dd.MM.yyyy. HH:mm' }}<br/>
        <div class="text-comment col-md-12 col-12 ms-4">
            {{text}}
        </div>
    </div>
    <div class="col-md-1 col-1 me-0 pe-0 ms-1">
        <br>
        <img class="rounded-circle d-block" src={{helper.getProfilePhotoUrl(profilePicture)}} alt="user" width="50" height="50">
    </div>
</div>