<h3 *ngIf="!this.validToken">Token nije validan ili je istekao.</h3>

<h3 *ngIf="!this.validToken">Unesite novu lozinku i potvrdu lozinke.</h3>
<form *ngIf="this.validToken" [formGroup]="resetPasswordForm" (ngSubmit)="ressetPassword()">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
            <input type="password" class="form-control" name="password" formControlName="password" placeholder="Lozinka">
            <div *ngIf="resetPasswordForm.controls.password.errors['minlength']">Lozinka mora imati najmanje 8 karaktera</div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" placeholder="Potvrda lozinke">
            <div *ngIf="(resetPasswordForm.controls.confirmPassword.dirty || resetPasswordForm.controls.confirmPassword.touched)" class="inputError">
                <div *ngIf="resetPasswordForm.controls.confirmPassword.invalid && resetPasswordForm.controls.confirmPassword.errors['required']">Potvrda lozinke je obavezna</div>
                <div *ngIf="this.resetPasswordForm.errors && resetPasswordForm.errors['passwordNotMatch']">Lozinke se ne poklapaju</div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
            <button class="btn btn-dark w-100">Promeni lozinku</button>      
        </div>
    </div>
</form>