<h2>Registrujte se</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" placeholder="Ime">
            <div *ngIf="registerForm.controls.firstname.invalid && (registerForm.controls.firstname.dirty || registerForm.controls.firstname.touched)" class="inputError">
                <div *ngIf="registerForm.controls.firstname.errors?.['required']">Ime nije uneto.</div>
                <div *ngIf="registerForm.controls.firstname.errors?.['pattern']">Ime mora da počne velikim slovom, a ostala slova moraju biti mala.</div>
                <div *ngIf="registerForm.controls.firstname.errors?.['maxlength']">Ime ne može biti duže od 16 karaktera.</div>
                <div *ngIf="registerForm.controls.firstname.errors?.['minlength']">Ime mora da ima barem dva slova.</div>
            </div>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control col-sm-6" id="lastname" name="lastname" formControlName="lastname" placeholder="Prezime">
            <div *ngIf="registerForm.controls.lastname.invalid && (registerForm.controls.lastname.dirty || registerForm.controls.lastname.touched)" class="inputError">
                <div *ngIf="registerForm.controls.lastname.errors?.['required']">Prezime nije uneto.</div>
                <div *ngIf="registerForm.controls.lastname.errors?.['pattern']">Prezime mora da počne velikim slovom, a ostala slova moraju biti mala.</div>
                <div *ngIf="registerForm.controls.lastname.errors?.['maxlength']">Prezime ne može biti duže od 16 karaktera.</div>
                <div *ngIf="registerForm.controls.lastname.errors?.['minlength']">Prezime mora da ima barem dva slova.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" name="username" formControlName="username" placeholder="Korisničko ime">
            <div *ngIf="registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)" class="inputError">
                <div *ngIf="registerForm.controls.username.errors?.['required']">Korisničko ime nije uneto.</div>
                <div *ngIf="registerForm.controls.username.errors?.['usernameTaken']">Korisničko ime je već zauzeto.</div>
                <div *ngIf="registerForm.controls.username.errors?.['pattern']">Korisničko ime može da se sastoji samo od brojeva i malih i velikih slova.</div>
                <div *ngIf="registerForm.controls.username.errors?.['minlength']">Korisničko ime mora da ima barem 2 karaktera.</div>
                <div *ngIf="registerForm.controls.username.errors?.['maxlength']">Korisničko ime može da ima barem najviše 16 karaktera.</div>
            </div>
            
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="Telefon">
            <div *ngIf="registerForm.controls.phone.invalid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched)" class="inputError">
                <div *ngIf="registerForm.controls.phone.errors?.['required']">Telefon nije unet.</div>
                <div *ngIf="registerForm.controls.phone.errors?.['pattern']">Telefon nije u dobrom formatu</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email">
            <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)" class="inputError">
                <div *ngIf="registerForm.controls.email.errors?.['required']">Email nije unet.</div>
                <div *ngIf="registerForm.controls.email.errors?.['email']">Email nije u dobrom formatu</div>
                <div *ngIf="registerForm.controls.email.errors?.['emailTaken']">Email je već zauzet.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="password" class="form-control" name="password" formControlName="password" placeholder="Lozinka">
            <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" class="inputError">
                <div *ngIf="registerForm.controls.password.errors?.['required']">Lozinka nije uneta.</div>
                <div *ngIf="registerForm.controls.password.errors?.['minlength']">Lozinka mora imati najmanje 8 karaktera.</div>
                <div *ngIf="registerForm.controls.password.errors?.['maxlength']">Lozinka mora imati najviše 16 karaktera.</div>
                <div *ngIf="registerForm.controls.password.errors?.['pattern']">Lozinka mora imati bar jedno veliko slovo, jedan broj i jedan specijalni karakter, i mora počinjati slovom.</div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" placeholder="Potvrda lozinke">
            <div *ngIf="(registerForm.controls.confirmPassword.dirty || registerForm.controls.confirmPassword.touched)" class="inputError">
                <div *ngIf="registerForm.controls.confirmPassword.invalid && registerForm.controls.confirmPassword.errors['required']">Potvrda lozinke je obavezna</div>
                <div *ngIf="this.registerForm.errors && registerForm.errors['passwordNotMatch']">Lozinke se ne poklapaju.</div>
            </div>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="organizer" name="organizer" [(ngModel)]="organizer" formControlName="organizer">
        <label class="form-check-label" for="organizer">
            Organizator
        </label>
    </div>
    <form [formGroup]="orgForm" *ngIf="organizer">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control" name="organizationName" formControlName="organizationName" placeholder="Ime organizacije">
                <div *ngIf="orgForm.controls.organizationName.invalid && (orgForm.controls.organizationName.dirty || orgForm.controls.organizationName.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.organizationName.errors?.['required']">Ime organizacije nije uneto.</div>
                    <div *ngIf="orgForm.controls.organizationName.errors?.['minlength']">Ime organizacije mora da ima barem 2 karaktera.</div>
                    <div *ngIf="orgForm.controls.organizationName.errors?.['maxlength']">Ime organizacije može da ima najviše 16 karaktera.</div>
                </div>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="matNumber" formControlName="matNumber" placeholder="Matični broj organizacije">
                <div *ngIf="orgForm.controls.matNumber.invalid && (orgForm.controls.matNumber.dirty || orgForm.controls.matNumber.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.matNumber.errors?.['required']">Matični broj je obavezan.</div>
                    <div *ngIf="orgForm.controls.matNumber.errors?.['pattern']">Matični broj može da se sastoji samo od brojeva.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div div class="col-sm-12">
                <input type="text" class="form-control" name="country" formControlName="country" placeholder="Država">
                <div *ngIf="orgForm.controls.country.invalid && (orgForm.controls.country.dirty || orgForm.controls.country.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.country.errors?.['required']">Država je obavezna.</div>
                    <div *ngIf="orgForm.controls.country.errors?.['minlength']">Država mora da ima najmanje 2 karaktera.</div>
                    <div *ngIf="orgForm.controls.country.errors?.['pattern']">Država mora da počne velikim slovom i može da se sastoji samo od velikih i malih slova i razmaka.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control" name="city" formControlName="city" placeholder="Grad">
                <div *ngIf="orgForm.controls.city.invalid && (orgForm.controls.city.dirty || orgForm.controls.city.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.city.errors?.['required']">Grad je obavezan.</div>
                    <div *ngIf="orgForm.controls.city.errors?.['pattern']">Grad mora da počne velikim slovom i može da se sastoji samo od velikih i malih slova i razmaka.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="postNumber" formControlName="postNumber" placeholder="Poštanski broj">
                <div *ngIf="orgForm.controls.postNumber.invalid && (orgForm.controls.postNumber.dirty || orgForm.controls.postNumber.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.postNumber.errors?.['required']">Poštanski broj je obavezan.</div>
                    <div *ngIf="orgForm.controls.postNumber.errors?.['pattern']">Poštanski može da se sastoji samo od brojeva i velikih slova.</div>
                    <div *ngIf="orgForm.controls.postNumber.errors?.['maxlength']">Poštanski može da ima najviše 10 karaktera.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control" name="street" formControlName="street" placeholder="Ulica">
                <div *ngIf="orgForm.controls.street.invalid && (orgForm.controls.street.dirty || orgForm.controls.street.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.street.errors?.['required']">Ulica je obavezna.</div>
                    <div *ngIf="orgForm.controls.street.errors?.['pattern']">Ulica može da se sastoji samo od malih i velikih slova i razmaka.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="streetNumber" formControlName="streetNumber" placeholder="Broj">
                <div *ngIf="orgForm.controls.streetNumber.invalid && (orgForm.controls.streetNumber.dirty || orgForm.controls.streetNumber.touched)" class="inputError">
                    <div *ngIf="orgForm.controls.streetNumber.errors?.['required']">Broj je obavezan.</div>
                    <div *ngIf="orgForm.controls.streetNumber.errors?.['pattern']">Broj nije u odgovarajućem formatu.</div>
                </div>
            </div>
        </div>
    </form>
    <div>
        <div>Profilna slika</div>
        <div>
            <input type="file" class="form-control" formControlName="profilePicture" name="profilePicture" accept="image/jpeg, image/png" (change)="onFileChange($event)">
            <canvas #canvas></canvas>
            <div *ngIf="(registerForm.controls.profilePicture.dirty || registerForm.controls.profilePicture.touched)" class="inputError">
                <div *ngIf="(registerForm.controls.imageDimensionsX.invalid && registerForm.controls.imageDimensionsX.errors['max'])
                || (registerForm.controls.imageDimensionsY.invalid && registerForm.controls.imageDimensionsX.errors['max'])">Slika je prevelika.</div>
                <div *ngIf="(registerForm.controls.imageDimensionsX.invalid && registerForm.controls.imageDimensionsX.errors['min'])
                || (registerForm.controls.imageDimensionsY.invalid && registerForm.controls.imageDimensionsX.errors['min'])">Slika je permala.</div>
                <div *ngIf="registerForm.controls.profilePicture.errors?.['pattern']">Slika mora da bude u jpg ili png formatu.</div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-dark w-100" [disabled]="registerForm.invalid || (orgForm.invalid && organizer)" data-toggle="modal" data-target="#registerModal">Registrujte se</button>      
    </div>
</form>
{{message}}
