.row{
    padding-bottom: 0.5rem;
}
button{
    margin-top: 1rem;
}

.inputError{
    color:red;
}

h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input[type='checkbox']{
    margin-bottom: 1rem;
}

canvas{
    display: none;
}